<header>
<ul>
    <li><a style: "padding:0;" href="https://imgur.com/tPbbdlc">
      <img src="https://i.imgur.com/tPbbdlc.jpg" title="source: imgur.com" /></a></li>
    <li><a class = "nav"></a></li>
    <li><a class = "nav">Home</a></li>
    <li><a class = "nav">The Shorts</a></li>
    <li><a class = "nav"> Who We Are</a></li>
    <li><a class = "nav"></a></li>
    <li><a class = "nav"></a></li>
    <li><a class = "nav"></a></li>
    <li><a class = "nav"></a></li>
    <li><button>Subscribe</button></li>
    <li id="socialMedia"><a href="#"><span class="fa fa-facebook"></a></li>
     <li id="socialMedia"><a href="#"><span class="fa fa-twitter"></span></a></li>
  <li id="socialMedia"><a href="#"><span class="fa fa-instagram"></span></a></li>
</ul>
</header>
<body>

    <div id="videocontainer"></div>
  <div id="videotxt">Lose Yourself, Not Your Stuff</div>
  <div id="videodescription">Wherever on the go takes you, Emergent shorts will keep you comfortiable and your items safe</div>
  <div id="videoSubscription">Learn how comfortable we are</div>
  <div id="videoInput">
  <input type="text" />
  <button>Subscribe</button>
  </div>
  <div id="videoLaunch">We're Launching Soon!</div>
  
  <video autoplay loop id="video-background" muted>
    <source               src="https://i.imgur.com/8DQFlIr.mp4" type="video/mp4">
  </video>

<img style="width:100%;"src="https://i.imgur.com/kvvnvRW.jpg" />
<span style="float: left;">
<img style="width:50%; float: left; " src="https://i.imgur.com/JTzNNAa.jpg" /> 
<img style="width:50%; float: left;" src="https://i.imgur.com/8T31hEz.jpg" /> 
</span>

<!-- <span>
  <img style="width:33.33%; float: left; height: 250px" src="https://i.imgur.com/5oqfR9u.jpg" />
  <img style="width:33.33%; float: left; height: 250px" src="https://i.imgur.com/t0ekwhY.png" />
    <video style="width: 33.33%;" autoplay loop muted>
    <source               src="https://i.imgur.com/87aSoWP.mp4" type="video/mp4">
  </video>
</span>

<span>
  <a href="https://imgur.com/CKtXHye"><img src="https://i.imgur.com/CKtXHye.png" title="source: imgur.com" /></a>  
  
</span>

</body>
 -->