<!-- public/views/home.html -->
<script>
	//Intializes Masonry
	var $container = $('#container');
	$container.masonry({
          // options
          itemSelector : '.item',
          columnWidth : 285,
          isFitWidth: true,
        });

</script>

<div id="container">
	<div class="item item--W2H2">
	<div class="item-container">
		<div>Whats Up</div>
        <div>Testing some stuff out</div>
		<video autoplay muted loop style="width: 530px;">
			<source type="video/webm" src="http://i.imgur.com/IQm8XeZ.webm">
		</video>
	</div>
        </div>

	<div ng-repeat="item in items">
		<div ng-class="item.masonryCardType">
		<div class="item-container">
				
				<img ng-src="http://i.imgur.com/GJvLwAb.jpg"/>
				<p class="title">{{item.name}}</p>
        		<p class="description">{{item.type}}</p>
		</div>
		</div>
	</div>
</div>

