<!-- public/views/home.html -->
<script>
	//Intializes Masonry
	var $container = $('#container');
	$container.masonry({
          // options
          itemSelector : '.item',
          columnWidth : 285,
          isFitWidth: true,
        });

</script>

<div id="container">
	<div class="item item--banner name">Casey Emmons</div>
	<div class="item item--W2H2">
		<div class="item-container">
			<p class="title">Welcome!</p>
			<p class="description">Hey there Sirs and Madams welcome to my website it is still under construction so bear with me</p>
		</div>
    </div>
	
	<div class="item item--box">
		<div class="item-container">
			<a href="/resume">
			<p class="title">Resume</p>
			</a>
		</div>
	</div>

	<div class="item item--box">
		<div class="item-container">
			<a href="/projects">
			<p class="title">Projects</p>
			</a>	
		</div>
	</div>
	
	<div class="item item--box">
		<div class="item-container">
			<a href="/blog">
			<p class="title">Blog</p>
			</a>
		</div>
	</div>
	
	<div class="item item--box">
		<div class="item-container">
			<a href="/inspiration">
			<p class="title">Inspiration</p>
			</a>
		</div>
	</div>

</div>

