

<div class="wrapper">
<div class="sideNav">
<ul>
  <li><div class="menuAdder"></div><a href="">Resume</a></li>
  <li><a class="toggleMasonry" href="/">Home</a></li>
  <li><a class="toggleMasonry" href="/projects">Project</a></li>
 <!--  <li><a class="toggleMasonry" href="/repost">Repost</a></li>-->
</ul>  

</div>
<div class="resumeContainer">
  <h3>Title</h3> 
  <p>Consectetuer arcu ipsum ornare pellentesque vehicula, in vehicula diam, ornare magna erat felis wisi a risus. Justo fermentum id. Malesuada eleifend, tortor molestie, a a vel et. Mauris at suspendisse, neque aliquam faucibus adipiscing, vivamus in.</p>
  <ul>
    <li>morbi tellus molestie mi</li>
    <li>nunc hasellus hasellus</li>
    <li>donec dolor ligula viverra</li>
    <li>elit donec hasellus ac pede</li>
    <li>quam amet pellentesque</li>
    <li>Arcu nibh maecenas ac</li>
  </ul>

  <h3>Title</h3>  
  <p>Donec arcu risus diam amet sit. Congue tortor risus vestibulum commodo nisl, luctus augue amet quis aenean maecenas sit, donec velit iusto, morbi felis elit et.</p>
  <ul>
    <li>morbi tellus molestie mi</li>
    <li>nunc hasellus hasellus</li>
    <li>donec dolor ligula viverra</li>
    <li>elit donec hasellus ac pede</li>
    <li>quam amet pellentesque</li>
    <li>Arcu nibh maecenas ac</li>
  </ul>

  <h3>Title</h3> 
  <p> Ut facilisis ante in dui ac suscipit, turpis voluptatum donec, suspendisse, quasi luctus amet urna tempor amet sit. Cras volutpat mattis hasellus justo sed, feugiat nunc praesent.</p>
  <ul>
    <li>morbi tellus molestie mi</li>
    <li>nunc hasellus hasellus</li>
    <li>donec dolor ligula viverra</li>
    <li>elit donec hasellus ac pede</li>
    <li>quam amet pellentesque</li>
    <li>Arcu nibh maecenas ac</li>
  </ul>
  
</div>
<div id="sideContainerR">
  <div class="sideItemR"></div>
  <div class="sideItemR"></div>
</div>
</div> 
  