@import url(https://fonts.googleapis.com/css?family=Satisfy|Oswald|Josefin+Slab|Mrs+Saint+Delafield);

.name {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
}

/*Masonry Effect Area*/
#container {
 width: 1140px;
 padding-top: 0px;
 margin: 0 auto;
}

/* Font initial setup */
.title {
  font-family: 'Oswald', sans-serif;
}

.description {
  font-family: 'Josephin Slab', serif;
}


/*Main Masonry Card*/
.item {
  background-color:#E6E6E6;
  width: 265px;
  height: 265px;
  margin: 10px;
  float: left;
  z-index: 0;
}

/* Regular Box size ----------------------------------------*/
.item--box {}

.item--box .item-container {
  position: relative;
  margin: 10px;
  width: 245px;
  height: 245px;
}

.item--box .item-container > img {
  position: absolute;
  width: 245px;
  height: 245px;
}
.item--box .item-container .title {
  position: absolute;
  top: 10px;
  font-size: 30px;
  visibility: visible;
  opacity: 1;
}

.item--box .item-container .description {
  position: absolute;
  top: 40px;
  font-size: 20px;
  visibility: visible;
  opacity: 1;
}

.item--box .item-container:hover .title {
  visibility: visible;
  opacity: 1;
}

.item--box .item-container:hover .description {
  visibility: visible;
  opacity: 1;
}


/*Doubles the Masonry Card Size----------------------------------------------*/
.item--W2H2 {
  width: 550px;
  height: 550px;
}

.item--W2H2 .item-container {
  position: relative;
  margin: 10px;
  width: 530px;
  height: 530px;
}

.item--W2H2 .item-container > img {
  position: absolute;
  width: 530px;
  height: 530px;
}

.item--W2H2 .item-container .title {
  position: absolute;
  font-size: 30px;
  visibility: visible;
  opacity: 1;
}

.item--W2H2 .item-container .description {
  position: absolute;
  top: 40px;
  font-size: 20px;
  visibility: visible;
  opacity: 1;
}

/*.item--W2H2 .item-container:hover .title {
  visibility: visible;
  opacity: 1;
}

.item--W2H2 .item-container:hover .description {
  visibility: visible;
  opacity: 1;
}*/


/*Doubles the Masonry Card Width----------------------------------------------*/
.item--W2 {
  width: 550px;
}

.item--W2 .item-container {
  position: relative;
  margin: 10px;
  width: 530px;
  height: 245px;
}

.item--W2 .item-container > img {
  position: absolute;
  height: 245px;
}

.item--W2  .title {
  position: absolute;
  left: 255px;
  font-size: 30px;
}

.item--W2 .description {
  position: absolute;
  left: 255px;
  top: 40px;
  font-size: 20px;
}

/*Doubles the Masonry Card Height----------------------------------------------*/
.item--H2 {
  height: 550px;
} 

.item--H2 .item-container {
  position: relative;
  margin: 10px;
  width: 245px;
  height: 530px;
}

.item--H2 .item-container > img {
  position: absolute;
  height: 245px;
}

.item--H2  .title {
  position: absolute;
  top: 255px;
  font-size: 30px;
}

.item--H2 .description {
  position: absolute;
  top: 295px;
  font-size: 20px;
}

/*Masonry Card Banner----------------------------------------------*/
.item--banner {
  width: 1120px;
  height: 40px;
  background-color: #ffffff;
}

.item--banner .item-container {
  position: relative;
  margin: 10px;
  width: 1100px;
  height: 245px;
}

.item--banner .item-container > img {
  position: absolute;
  height: 245px;
}

/*Masonry Card Large Banner----------------------------------------------*/
.item--banner-large {
  width: 1120px;
  height: 550px;
}

.item--banner-large .item-container {
  position: relative;
  margin: 10px;
  width: 1100px;
  height: 530px;
}

.item--banner-large  .item-container > img {
  position: absolute;
  height: 245px;
}

/*navigation bar-----------------------------------------------*/


nav ul {
  height: 60px;
  margin: 10px;
  padding: 15px;
  background: #efefef;  
  list-style: none;
  position: relative;
}

nav ul li{
  padding: 10px;
  margin: 20px;
  list-style: none;
  position: relative;
  display: inline;
}

nav ul li a {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}

nav ul ul {
  display: inline;
  margin:0px;
  padding:0px;

}

nav ul ul li{
  display: inline;
  margin:0px;
  padding-left:10px;

}





